<h3 id="topic" data-key="<%= @topic.key %>">Vote on Topic '<%=@topic.name %>'</h3>

<p>
  Hi, <span id="participant-name"><%= @participant_name %></span> 
  (<span id="participant-email"><%= @participant_email %></span>). 
  Please vote on an option below...
</p>

<table id="vote-options" class="table table-hover">
  <% @vote_options.each do |option| %>
    <tbody>
      <tr>
        <td class="opt-row"><%= option.name %></td>
        <td class="btn-col">
          <input class="btn btn-primary" 
            type="button" 
            data-id="<%= option._id %>" 
            data-value="<%= option.name %>" 
            value="Vote" />
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<div id="vote-modal" 
  class="modal hide fade" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="modal-label" 
  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-label">Modal header</h3>
  </div>
  <div class="modal-body">
    <p id="modal-txt">One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>