<h3 id="topic" data-key="<%= @topic.key %>">Vote on Topic '<%=@topic.name %>'</h3>

<p>
  Hi, <span id="participant-name"><%= @participant_name %></span> 
  (<span id="participant-email"><%= @participant_email %></span>). 
  Please vote on an option below...
</p>

<table id="vote-options" class="table table-hover">
  <% @vote_options.each do |option| %>
    <tbody>
      <tr>
        <td class="opt-row"><%= option.name %></td>
        <td class="btn-col">
          <input class="btn btn-primary" 
            type="button" 
            data-id="<%= option._id %>" 
            data-value="<%= option.name %>" 
            value="Vote" />
        </td>
      </tr>
    </tbody>
  <% end %>
</table>